body{
background: #ddd;
margin: 0px;
padding: 0px;
}

#game{

width:800px;
height: 600px;
margin: 0 auto;
position: relative;

}
#click{
	width:10px;
	height:10px;
	background: red;
	position:absolute;
}
#sky{
width:800px;
height: 300px;
background: aliceblue;
top:0px;
position: absolute;
}
#floor{
width:800px;
height: 500px;
background: lightgreen;
top:100px;
position: relative;
}

#char{
width: 100px;
height: 100px;
background: blue;
position:absolute;
top:50px;
left:50px;
background-size: 296px;
}

.unit{
width: 100px;
height: 100px;
position:absolute;
}

/*
.red{
background: red;
}
.blue{
background: blue;
}
.purple{
background: purple;
}
.green{
background: green; 
}*/

.hero{

}

.enemy{
border-radius: 20px;
}

.selected{
border: red solid 2px;
}

.enem{
	width: 100px;
	height: 100px;
	position:absolute;
	
}
.ogre{
top:50px;
	left:650px;
	background: #900;
	}
.orc{

top:150px;
	left:250px;
	background: #900;

}

#debug{
	position: absolute;
	right: 10px;
	width: 240px;
	height: 600px;
	padding: 10px;
	top: 10px;
	background: black;
	color: lightgreen;
	border: lightgreen dashed 4px;
	overflow: auto;
}

#hp{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index:9;
}


/******/

.char{
width: 100px;
height: 100px;
position: relative;
}

.char div{
border-radius: 10px;
}

.wrapper{
position:absolute;
}

div.head{
width: 45px;
height: 45px;
position: absolute;
top: 16px;
left: 39px;
z-index: 3;
border-radius: 99px;
}

.eye {
width: 4px;
height: 4px;
background: black;
position: absolute;
}

.eye.left {
left: 28px;
top: 23px;
}
.eye.right {
left: 39px;
top: 22px;
}

.trunk{
width: 19px;
height: 46px;
position: absolute;
top: 54px;
left: 48px;
z-index: 2;
}

.arm{
width: 10px;
height: 31px;
position: absolute;
transform-origin: 50% 0%;
-webkit-transform-origin: 50% 0%;
}

.arm.left{
top: 62px;
left: 45px;
z-index: 3;
transform: rotate(-9deg);
-webkit-transform: rotate(-9deg);
}
.arm.right{
top: 66px;
left: 60px;
transform: rotate(-31deg);
-webkit-transform: rotate(-31deg);
}

div.hand{
margin-top: 23px;
width: 14px;
height: 14px;
margin-left: -4px;
border-radius: 16px;
z-index: -1;
}
div.thumb {
margin-top: -4px;
width: 8px;
height: 7px;
margin-left: 0px;
z-index: -1;
border-radius: 99px;
position: absolute;
}

.hair{
	position: absolute;
	top: -28px;
	left: -27px;
	width: 94px;
}

.leg{
width: 10px;
height: 30px;
position: absolute;
transform-origin: 50% 0%;
-webkit-transform-origin: 50% 0%;
	}

.leg.left{
top: 94px;
left: 51px;

z-index:1;
}
.leg canvas{
margin-left: -5px;
margin-top: 5px;
}


.leg.right{
top: 94px;
left: 57px;
z-index:0;
	
}
.leg.right canvas{

}

.faceleft{
-webkit-transform: scaleX(-1);
}

.weapon{
margin-top: -1px;
margin-left: -15px;
z-index: -1;
position: absolute;
-webkit-transform: rotate(17deg);
}

.chest {
margin-left: -19px;
margin-top: -2px;
}

div.shield{
width: 40px;
height: 40px;
background: gray;
border-radius: 99px;
margin-left: -18px;
margin-top: 8px;
}

.left .gloves {
margin-left: -17px;
-webkit-transform: rotate(26deg);
margin-top: 1px;
}

.right .gloves {
margin-left: -14px;
margin-top: 1px;
-webkit-transform: scaleX(-1) rotate(25deg);
z-index: -1;
}

.left .boots {
margin-left: -18px;
margin-top: 2px;
width: 50px;
}

.right .boots {
margin-left: -16px;
margin-top: 0px;
width: 50px;
}

.shoulder{
	top: 42px;
	position: absolute;
	z-index: 4;
	left: 30px;
	-webkit-transform: rotate(-9deg);
	width: 48px;
	}

/*EQ*/

.gloves{
position:absolute;
margin-left: -10px;
}

/*COLORS*/

.head, .trunk, .arm, .leg, .hand, .thumb{
border: black solid 2px;

background: rgb(222,170,135); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGVhYTg3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmY2FiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  rgba(222,170,135,1) 0%, rgba(239,202,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(222,170,135,1)), color-stop(100%,rgba(239,202,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(222,170,135,1) 0%,rgba(239,202,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(222,170,135,1) 0%,rgba(239,202,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(222,170,135,1) 0%,rgba(239,202,179,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(222,170,135,1) 0%,rgba(239,202,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deaa87', endColorstr='#efcab3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}


/* ANIMATIONS */

@-webkit-keyframes leftLegMove
{
0%   {-webkit-transform: rotate(-60deg);}
50%   {-webkit-transform: rotate(60deg);}
100%  {-webkit-transform: rotate(-60deg);}
animation-timing-function: ease-out;
}
@-webkit-keyframes rightLegMove
{
0%   {-webkit-transform: rotate(60deg);}
50%   {-webkit-transform: rotate(-60deg);}
100%  {-webkit-transform: rotate(60deg);}
animation-timing-function: ease-in;
}
@-webkit-keyframes bounce
{
0%   {margin-top: 0px;}
50%   {margin-top: -8px;}
75%  {margin-top: 0px;}
animation-timing-function: ease-out;
}


.moving .leg.left{
   animation: leftLegMove 0.7s infinite;
  -webkit-animation: leftLegMove 0.7s infinite;
}
.moving .leg.right {
   animation: rightLegMove 0.7s infinite;
  -webkit-animation: rightLegMove 0.7s infinite;
}
.char.moving{
	-webkit-animation: bounce 0.4s infinite;
}
